* {
	box-sizing: border-box;
}

.outer-border {
	position:relative;
	margin: 0 auto;
	width: 600px;
	height:600px;
	background-color: white;
	border: 1px solid lightgrey;
}

.restaurant-banner {
	position:absolute;
	display:block;
	text-align: center;
	margin: 20px 20px;
	background-color: #f9e1c2;
	width:550px;
	height:100px;
	border: 2px solid red;
	line-height:100px;
	box-shadow: 10px 10px 10px #888888;
}

.title {
	color: green;
	font-weight: bolder;
	font-size: 42px;
	margin: 0px;
}

/*menu item container appearance*/
.menu-item {
	width:140px;
	height:200px;
	border: 2px solid red;
	display:inline-block;
	margin:0 20px;
	background-color: green;
}

	/*position of m1*/
	#m1 {
		
		margin: 140px 10px 10px 65px;
		display:inline-block;
	}

	/*position of m2*/
	#m2 {
		
		margin: 140px 10px 10px 10px
		display:inline-block;
	}

	/*position of m3*/
	#m3 {
		
		margin: 140px 10px 10px 10px;
		display:inline-block;
	}

.menu-photo {
	display:block;
	margin: 10px auto;
	height:60px;
	width: auto;
	border: 2px solid red;
}

.menu-item-title {
	display:inline-block;
	text-align:center;
	width: 120px;
	margin: 10px auto;
}

.diet-highlight {
	display:inline-block;
	font-size:12px;
	margin: 0px 5px;
}

.menu-button {
	display:block;
	margin: 10px auto;
	height:35px;
	font-size: 16px;
}

.dietary-border {
	margin: 0 auto;
	width:315px;
	height:25px;
	border: 1px solid white;
	overflow: hidden;
}

.order-total-border {
	margin: 20px auto;
	width:200px;
	height:50px;
	border:1px solid white;
}

.order-total-text {
	font-size:24px;
	display: inline-block;
}

.order-items-listbox {
	width:300px;
	height:100px;
	border:1px solid lightgrey;
	margin: 0 auto;
}

.place-order-button {
	float:right;
	margin: 5px 30px;
}



